<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b></b>TRIX</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Cloud</b>TRIX</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "User" })
                </li>
                <li>
                    @*<a href="javascript:document.getElementById('logoutForm').submit()">*@
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        log off
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                    @*<a href="" onclick="window.top.location.href = '~/Home/Index'">Login Again</a>*@
                </li>

            </ul>
        }
    </nav>
</header>

<script src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
<script type="text/javascript">
    function logoutUser() {
        $.post("Logout.aspx", null,
function (data) {
    if (data == "done") {
        window.location.href = "newpage.aspx";
    }
});
    }
</script>