@model List<CloudTrixApp.Models.Invoice>
@{
    ViewBag.Title = "PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Print PDF in ASP.NET MVC Using Rotativa.MVC </h2>

@*<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<table class="table table-striped table-inverse">
    <thead class="thead-inverse">
        <tr>
            <th>InvoiceID</th>
            <th>InvoiceNo</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.InvoiceID</td>
            <td>@item.InvoiceNo</td>
        </tr>
    }
</table>

@Html.ActionLink("Print PDF", "PrintPage")